node-red-data/flows.json
[
    {
        "id": "72179c21269928a2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1e0ab7d6c14603f8",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8a8d42f596ef2b29",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "mqtt",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f8df3e6b31e8564a",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": 8086,
        "protocol": "http",
        "database": "contenedores",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "87e4aeee429d87e6",
        "type": "telegram bot",
        "botname": "AvisoContenedor_bot",
        "usernames": "",
        "chatids": "8604741403",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "5c644afc673287f2",
        "type": "mqtt in",
        "z": "72179c21269928a2",
        "name": "",
        "topic": "facultad/contenedores/#",
        "qos": "2",
        "datatype": "utf8",
        "broker": "8a8d42f596ef2b29",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "e1d47ba962575527"
            ]
        ]
    },
    {
        "id": "f9960e8ba418c234",
        "type": "function",
        "z": "72179c21269928a2",
        "name": "function 1",
        "func": "// Verificamos si el backend nos devolvió la altura (si el contenedor existe)\nif (msg.payload && msg.payload.altura_cm) {\n    let altura_real = msg.payload.altura_cm;\n    let distancia = msg.distancia_cruda;\n    \n    // Cálculo del porcentaje\n    let porcentaje = 100.0 - ((distancia / altura_real) * 100.0);\n    \n    // Filtros por si el sensor lee mal\n    if (porcentaje < 0) porcentaje = 0;\n    if (porcentaje > 100) porcentaje = 100;\n\n    // Formateamos para InfluxDB: Array con [ {Fields}, {Tags} ]\n    msg.payload = [\n        {\n            distancia_cm: distancia,\n            porcentaje_llenado: Math.round(porcentaje)\n        },\n        {\n            contenedor_id: msg.contenedor_id\n        }\n    ];\n    \n    return msg;\n} else {\n    // Si el contenedor no está en la base de datos (Postgres), abortamos\n    node.warn(\"El contenedor \" + msg.contenedor_id + \" no está registrado en el sistema.\");\n    return null; \n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 160,
        "wires": [
            [
                "7ea453f26ab62931",
                "2488f0579b8bc164",
                "fbca7bb124a1ad35"
            ]
        ]
    },
    {
        "id": "7ea453f26ab62931",
        "type": "debug",
        "z": "72179c21269928a2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 60,
        "wires": []
    },
    {
        "id": "05fa20efe01a7569",
        "type": "http request",
        "z": "72179c21269928a2",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 320,
        "wires": [
            [
                "f9960e8ba418c234"
            ]
        ]
    },
    {
        "id": "e1d47ba962575527",
        "type": "function",
        "z": "72179c21269928a2",
        "name": "function 2",
        "func": "let partesTopic = msg.topic.split(\"/\");\nlet id_contenedor = partesTopic[partesTopic.length - 1]; \n\n\nmsg.contenedor_id = id_contenedor;\nmsg.distancia_cruda = parseFloat(msg.payload);\n\nmsg.url = \"http://backend:3000/api/contenedores/\" + id_contenedor + \"/altura\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 320,
        "wires": [
            [
                "05fa20efe01a7569"
            ]
        ]
    },
    {
        "id": "2488f0579b8bc164",
        "type": "influxdb out",
        "z": "72179c21269928a2",
        "influxdb": "f8df3e6b31e8564a",
        "name": "",
        "measurement": "estado_contenedores",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 810,
        "y": 160,
        "wires": []
    },
    {
        "id": "fbca7bb124a1ad35",
        "type": "function",
        "z": "72179c21269928a2",
        "name": "verificar_umbral",
        "func": "const UMBRAL = 80;\nconst MI_CHAT_ID = \"8604741403\";\n\nconst porcentaje = msg.payload[0].porcentaje_llenado;\nconst contenedorId = msg.payload[1].contenedor_id;\n\nconst yaAlertado = flow.get('alertado_' + contenedorId) || false;\n\nif (porcentaje >= UMBRAL && !yaAlertado) {\n    flow.set('alertado_' + contenedorId, true);\n    msg.payload = {\n        chatId: MI_CHAT_ID,\n        type: \"message\",\n        content: `🗑️ Alerta: el contenedor ${contenedorId} está al ${porcentaje}% de su capacidad.`\n    };\n    return msg;\n} else if (porcentaje < UMBRAL && yaAlertado) {\n    flow.set('alertado_' + contenedorId, false);\n    return null;\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            [
                "6178f62559fe52b6"
            ]
        ]
    },
    {
        "id": "6178f62559fe52b6",
        "type": "telegram sender",
        "z": "72179c21269928a2",
        "name": "AvisoContenedor",
        "bot": "87e4aeee429d87e6",
        "haserroroutput": false,
        "outputs": 1,
        "x": 690,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "c4a8cc412e1b8967",
        "type": "mqtt out",
        "z": "1e0ab7d6c14603f8",
        "name": "Simular sensor - lleno",
        "topic": "facultad/contenedores/contenedor_1",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a8d42f596ef2b29",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "c0a65e3b4a1298f9",
        "type": "inject",
        "z": "1e0ab7d6c14603f8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "str",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "c4a8cc412e1b8967"
            ]
        ]
    }
]