node-red-data/flows.json
[
    {
        "id": "72179c21269928a2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8a8d42f596ef2b29",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "mqtt",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f8df3e6b31e8564a",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": 8086,
        "protocol": "http",
        "database": "contenedores",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "5c644afc673287f2",
        "type": "mqtt in",
        "z": "72179c21269928a2",
        "name": "",
        "topic": "facultad/contenedores/#",
        "qos": "2",
        "datatype": "utf8",
        "broker": "8a8d42f596ef2b29",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "e1d47ba962575527"
            ]
        ]
    },
    {
        "id": "f9960e8ba418c234",
        "type": "function",
        "z": "72179c21269928a2",
        "name": "function 1",
        "func": "// Verificamos si el backend nos devolvió la altura (si el contenedor existe)\nif (msg.payload && msg.payload.altura_cm) {\n    let altura_real = msg.payload.altura_cm;\n    let distancia = msg.distancia_cruda;\n    \n    // Cálculo del porcentaje\n    let porcentaje = 100.0 - ((distancia / altura_real) * 100.0);\n    \n    // Filtros por si el sensor lee mal\n    if (porcentaje < 0) porcentaje = 0;\n    if (porcentaje > 100) porcentaje = 100;\n\n    // Formateamos para InfluxDB: Array con [ {Fields}, {Tags} ]\n    msg.payload = [\n        {\n            distancia_cm: distancia,\n            porcentaje_llenado: Math.round(porcentaje)\n        },\n        {\n            contenedor_id: msg.contenedor_id\n        }\n    ];\n    \n    return msg;\n} else {\n    // Si el contenedor no está en la base de datos (Postgres), abortamos\n    node.warn(\"El contenedor \" + msg.contenedor_id + \" no está registrado en el sistema.\");\n    return null; \n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 120,
        "wires": [
            [
                "7ea453f26ab62931",
                "2488f0579b8bc164"
            ]
        ]
    },
    {
        "id": "7ea453f26ab62931",
        "type": "debug",
        "z": "72179c21269928a2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 60,
        "wires": []
    },
    {
        "id": "05fa20efe01a7569",
        "type": "http request",
        "z": "72179c21269928a2",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 320,
        "wires": [
            [
                "f9960e8ba418c234"
            ]
        ]
    },
    {
        "id": "e1d47ba962575527",
        "type": "function",
        "z": "72179c21269928a2",
        "name": "function 2",
        "func": "let partesTopic = msg.topic.split(\"/\");\nlet id_contenedor = partesTopic[partesTopic.length - 1]; \n\n\nmsg.contenedor_id = id_contenedor;\nmsg.distancia_cruda = parseFloat(msg.payload);\n\nmsg.url = \"http://backend:3000/api/contenedores/\" + id_contenedor + \"/altura\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 320,
        "wires": [
            [
                "05fa20efe01a7569"
            ]
        ]
    },
    {
        "id": "2488f0579b8bc164",
        "type": "influxdb out",
        "z": "72179c21269928a2",
        "influxdb": "f8df3e6b31e8564a",
        "name": "",
        "measurement": "estado_contenedores",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 200,
        "wires": []
    }
]